// .header .container {
//   display: flex;
//   justify-content: space-between;
// }
// .header-info {
//   display: flex;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: $main-grey-color;
// }
// .header-nav {
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }
// .header-list {
//   display: flex;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
// }
// .address .link {
//   display: flex;
//   align-items: center;
// }
// .sprite {
//   margin-right: 10px;
// }
// .name {
//   display: inline-block;
//   padding-top: 24px;
//   padding-bottom: 25px;
//   margin-right: 93px;
// }
// .list-item:not(:last-child) {
//   margin-right: 50px;
// }
// .social-link:not(:last-child) {
//   margin-right: 50px;
// }
// .current {
//   color: $color-accent;
// }
// .item {
//   position: relative;
//   display: block;
//   padding-top: 33px;
//   padding-bottom: 31px;
//   fill: $main-nav-color;
//   transition-property: color, fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $color-accent;
//     fill: $color-accent;
//   }
// }
// .current:after {
//   content: "";
//   display: block;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 4px;
//   background-color: $color-accent;
//   border-radius: 2px;
// }
.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
  }
}
header-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    min-height: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.button-menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.button-menu .menu-crest {
  display: none;
}
.button-menu.is-open .menu-crest {
  display: block;
}
.button-menu.is-open .menu-burger {
  display: none;
}
.menu-crest {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
    fill: $color-accent;
  }
}
.menu-burger {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
    fill: $color-accent;
  }
}
.menu-container {
  background-color: $main-white-color;
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    border-top: 1px solid #ececec;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }
}
.header-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;

    .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.list-item {
  position: relative;
}

@media screen and (min-width: 768px) {
  display: flex;

  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $main-font-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: block;
    font-size: 14px;
    line-height: 1.33;

    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.item.current {
  color: $color-accent;
}
.current {
  @media screen and (max-width: 767px) {
    padding-bottom: 8px;
    position: relative;
  }
}
.current::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: $color-accent;
  position: absolute;
  bottom: 0;
  left: 0;
}
