.logo-web,
.logo-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: $accent-font;
  font-style: normal;
}
.logo-web {
  color: $color-accent;
}
.logo-footer {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $main-white-color;
}
