.section-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-font-color;
}
.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-font-color;
}
.section-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-grey-color;
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background: $bcg-section-team;
}
.workers {
  display: flex;
  margin-top: 50px;
}
.workers-photo {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $main-white-color;
}
.workers-photo:not(:last-child) {
  margin-right: 30px;
}
.workers-team {
  padding-top: 30px;
}
.social-list {
  margin-top: 16px;
}
.social-list:not(:last-child) {
  margin-right: 10px;
}
.workers-name {
  margin-bottom: 10px;
}
.workers-social {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  fill: $fill-social-list;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $color-accent;
    fill: $main-white-color;
  }
}
