.picture-list {
  position: relative;
  z-index: 1;
}
.text-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: $bcg-text-list;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $main-white-color;
}
.section-image .container {
  display: flex;
  flex-direction: column;
}
.picture-item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.section-image {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-image h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-font-color;
}
