$main-font: "roboto", sans-serif;
$accent-font: "raleway" sans-serif;

$color-accent: #2196f3;
$main-font-color: #212121;
$main-grey-color: #757575;
$main-white-color: #ffffff;
$main-hero-color: #c4c4c4;
$bcg-icons-index: #f5f4fa;
$bcg-text-list: rgba(47, 48, 58, 0.8);
$bcg-section-team: #f5f4fa;
$fill-social-list: rgba(175, 177, 184, 1);
$main-nav-color: rgba(117, 117, 117, 1);
$bcg-footer: #2f303a;
